# UI Framework (Frontend)
streamlit
requests

# Backend API Engine
fastapi
uvicorn

# LlamaIndex Core & Plugins
llama-index-core
llama-index-llms-groq
llama-index-embeddings-huggingface
llama-index-readers-file

# Data Processing & Excel Support
pandas
openpyxl
pypdf

# Evaluation Framework
ragas

# Dependencies Pendukung & Handler Model
transformers>=4.44.2
torch
h5py
rich
watchdog