# UI Framework
streamlit

# LlamaIndex Core & Plugins
llama-index-core
llama-index-llms-groq
llama-index-embeddings-huggingface
llama-index-readers-file

# Dependencies & Fixes untuk Keras/HuggingFace
transformers==4.44.2
h5py
rich
tf-keras
