# UI Framework
streamlit

# LlamaIndex Core & Plugins
llama-index-core
llama-index-llms-groq
llama-index-embeddings-huggingface
llama-index-readers-file

# Pemrosesan Bahasa (NER Skripsi)
spacy

# Dependencies Pendukung
transformers==4.44.2
h5py
rich
tf-keras
watchdog